.general {
	width: 100%;
	margin: 2rem 0rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	border: 1px solid green;
}

.carusel_container {
	width: 60%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px 10px;
	border: 1px solid black;
	position: relative;
	opacity: 1;
	transition: opacity ease-in-out 0.5s;
}

.isActive {
	opacity: 0;
}

.carusel_container img {
	width: 100%;
	margin: 0 1rem;
}

.carusel_arrow {
	visibility: hidden;
}

.carusel_container:hover .carusel_arrow {
	visibility: visible;
	transition: 0.8s;
}

.wrapper_circle {
	border: 1px solid black;
	display: flex;
	flex-direction: row;
}
