.list_container {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-between;
	padding: 60px;
}
.list_container span {
	text-align: center;
}

.image_block {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.image_block img {
	width: 816px;
	height: 437px;
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 700ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 700ms ease-in;
}
.remove-btn {
	width: 1rem;
	height: 1rem;
	background-color: var(--orange);
	color: var(--white);
	border: none;
	border-radius: 10%;
	margin: 0rem 1rem 1rem 0rem;
}
